{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block header %}
<h1>Create New Customer Record</h1>
{% endblock header %}

{% block content %}
<style>
  .grid-container {
    display: grid;
    background-color: #d7f4f5;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 5px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.99);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }
  .item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    color: #2d49c4
  }
</style>
  <div class="grid-container">
    <div class="item1">
      <form method="POST">
        {{ form.csrf_token }}
        <table cellpadding="20px">
          <tr>
	    <td align = "right" valign = "top">{{ form.customer_id.label }} {{ form.customer_id() }}</td> 
	    <td align = "right" valign = "top">{{ form.contact_name.label }} {{ form.contact_name()  }}<br>
		                {{ form.contact_title.label }} {{ form.contact_title()  }}<br>
                                {{ form.phone_number.label }} {{ form.phone_number()  }}<br>
                                {{ form.fax_number.label }} {{ form.fax_number()  }}
	    </td>
            <td align = "right" valign = "top">{{ form.company_name.label }} {{ form.company_name() }}<br>
	                        {{ form.address.label }} {{ form.address()  }}<br>
                                {{ form.city.label }} {{ form.city()  }}<br>
			        {{ form.region.label }} {{ form.region()  }}<br>
                                {{ form.postal_code.label }} {{ form.postal_code()  }}<br>
                                {{ form.country.label }} {{ form.country()  }}
	    </td>
	  </tr>
	  <tr><td></td><td></td> <td>{{ form.create }}</td></tr>
          <tr>
            <td colspan="3">
	    <img src="{{url_for('static', filename='./images/cockroachdb_footer.png')}}" width="750" height="70" align="middle" />
            </td>
	  </tr>
          <tr>
            <td colspan="3">
            <h3>Scalable and Resilient Northwind Traders Database</h3>
            </td>
	  </tr>
        </table>
      </form>
    </div>
{% endblock content %}
